<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "projects-header.html" . }}

	<section class="blog section">
	    <div class="container">
		<div class="row">
		    {{ range (.Paginator 6).Pages.ByDate }}
		    {{ if eq .Type "concepts"}}
		    <div class="col-md-6">
			<article class="blog-post">
			    {{ if isset .Params "image" }}
			    {{ $url := trim (index (split .Params.latest ",") 1) " "}}
			    <a class="post-title" href="{{ $url | absURL }}">
				<img src="{{ .Params.image | absURL }}" class="img-responsive" alt="post-thumb">
			    </a>
			    {{ end }}
			    {{ if isset .Params "altimage" }}
			    {{ .Params.altimage | absURL }}
			    {{ end }}
			    <a class="post-title" href="{{ .Params.PRJurl }}">{{ .Title }}</a>
			    <p>
				{{ partial "summary" .}}
			    </p>
			    {{ partial "btn-dropdown" . }}
			</article>
		    </div>
		    {{ end }}
		    {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>
	
	{{ partial "footer.html" . }}
    </body>
</html>
