<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "resources-header.html" . }}

	<div class="container">
	    {{ range (.Paginator 6).Pages.ByDate.Reverse }}
	    <div class="col-md-12">
		<article class="blog-post">
		    <h3>{{ .Params.title }}</h3>
		    {{ if isset .Params "author" }}
		    <h4>By {{ .Params.author }} | {{ .Date.Format "Jan 2 2006" }}, {{ .Params.location }}</h4>
		    {{ end }}
		    <p>{{ .Content | markdownify }}</p>
		    {{ if isset .Params "whitepaperlink" }}
		    <p><a href="{{ .Params.whitepaperlink }}" class="btn btn-main">{{ .Params.whitepaperbuttontxt }}</a></p>
		    {{ end }}
		</article>
	    </div>
	    {{ end }}
	</div>
	<div class="col-12 text-center">
	    {{ template "_internal/pagination.html" . }}
	</div>

	{{ partial "footer.html" . }}

</body>
</html>
