<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "page_title.html" . }}
	<div class="container">
	    {{ range (.Paginator 6).Pages.ByDate.Reverse }}
	    <div class="col-md-12">
			<article class="blog-post">
				{{ partial "webinar-header.html" . }}
				<p>
					{{ .Summary }}
				</p>
				<p>
					<a class="btn btn-main" href="{{ .RelPermalink }}">Learn More...</a>
				</p>
			</article>
	    </div>
	    {{ end }}
	</div>
	<div class="col-12 text-center">
	    {{ template "_internal/pagination.html" . }}
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
