<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	<!--{{ partial "overview-header.html" . }}-->
  <section id="docs-header">
      <div class="container">
          <div class="row">
            <br>
          </div>
      </div>
  </section>
	<h1 align="center">{{ .Title }}</h1>
	<br>
	<div class="container">
	    <div class="row">
		{{ .Params.subtitle | markdownify }}
		{{ range (.Paginator 10).Pages.ByDate }}
		<div class="col-md-10">
		    {{ .Content | markdownify }}
		    <br>
		    <!--{{ partial "btn-dropdown" . }} - -->
		</div>
		{{ end }}
	    </div>
	    <div class="col-10 text-center">
		{{ template "_internal/pagination.html" . }}
	    </div>
	</div>

	{{ partial "footer.html" . }}
    </body>
</html>
