<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "news-header.html" . }}

	<section class="blog section eventsection">
	    <div class="container">
		<div class="row">
		    {{ range (.Paginator 6).Pages.ByDate.Reverse }}
		    <div class="col-md-8">
			<article class="blog-post">
			    <h1>{{ .Params.title }}</h1>
			    <h2>By {{ .Params.author }} | {{ .Date.Format "Jan 2 2006" }}</h2>
			    <p>{{ .Content | markdownify }}</p>
			    {{ if isset .Params "newslink" }}
			    <a href="{{ .Params.newslink }}" class="btn btn-main">{{ .Params.newsbuttontxt }}</a>
			    {{ end }}
			</article>
		    </div>
		    {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
