#slider .block h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 10px;
    padding-bottom: 50px;
  }

#slider .block p {
    font-size: 23px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
}

#slider {
    padding: 0 0 50px 0;
}

#intro {
  padding: 10px 0;
}

#feature h2 {
    color: #FFFFFF;
}

#feature p {
    color: #FFFFFF;
}

#feature ul {
    list-style-type:disc;
    margin-left: 4em;
    color: #FFFFFF;
}

#feature {
    padding: 50px 0 50px 0;
}

.markdown-body ul {
    list-style-type: disc;
}

#docs-header {
    background: url("../img/fdio_bg.jpg") no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-attachment: fixed;
}

#docs-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}

#docs-header .row > [class*='col-'] {
    padding: 0px 25px;
    font-weight: 100;
    font-size: 25px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}

#docs-header .row > [class*='col-'] a {
    color: #FFFFFF;
}

#global-header .block h1 {
    font-family: 'open', sans-serif;
    font-weight: 100;
    font-size: 25px;
    line-height: 1.43;
  }

#global-header {
    padding-top: 25px;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
    background-attachment: fixed;
}

#global-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #928dab, #1f1c2c 70%);
    opacity: 0.8;
}

#global-header .row > [class*='col-'] {
    padding: 0px 25px;
    font-weight: 100;
    font-size: 25px;
    text-transform: capitalize;
    position: relative;
    text-align: center;
}

header .navbar-brand img {
    height: 80px;
    object-fit:contain;
}

header {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 90px;
}

header .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container img.img-responsive {
    padding-top: 10px;
    max-height: 580px;
    height: 128
    width: 128
    margin: auto;
}

#bs-example-navbar-collapse-1 {
    background: white;
}

.fix-navbar-zindex {
    z-index: 2;
}

.row-fluid {
    display: flex;
    flex-wrap: wrap;
    max-height:80px;
}
.row-fluid > [class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-brand {
    height: 80px;
    width: 130px;
}

.eventsection {
    padding: 50px 0;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#feature div.block {
    color: #FFFFFF;
    text-align: center;
    padding: 2em;
}
#feature div.block b {
    font-size: 1.25em;
}
#feature div.block h2 {
    font-size: 1.5em;
}

#intro div.block {
    text-align: center;
}

#intro div.block h2 {
    text-transform: none;
}

#intro .block p {
    font-family: roboto,sans-serif;
    font-style: normal;
}

#intro .block .section-title p {
    font-size: 1.5em;
}

