{{- $registrationIcon := (dict "iconClass" "fas fa-desktop" "text" "Register" "url" .Params.Registrationurl) }}
{{- $youtubeIcon := (dict "iconClass" "fab fa-youtube" "text" "YouTube" "url" .Params.Youtubeurl) }}
{{- $pdfIcon := (dict "iconClass" "far fa-file-pdf" "text" "PDF" "url" .Params.Pdfurl) }}
{{- $pptIcon := (dict "iconClass" "fas fa-file-powerpoint" "text" "PPT" "url" .Params.Ppturl) }}
{{- $icons := slice }}
{{ if now.Before .Params.Date }}
{{- $iconsRaw = $icons | append $registrationIcon }}
{{ end }}
{{ if isset .Params "youtubeurl" }}
    {{- $icons = $icons | append $youtubeIcon }}
{{ end }}
{{ if isset .Params "pdfurl" }}
    {{- $icons = $icons | append $pdfIcon }}
{{ end }}
{{ if isset .Params "ppturl" }}
    {{- $icons = $icons | append $pptIcon }}
{{ end }}

{{- $articleImage := "/img/fdio-color.svg" }}
{{ if eq .Section "latestwebinar" }}
    {{- $articleImage := "/img/webinars/fdio-webinar.svg" }}
{{ end }}

{{ if now.Before .Params.Date }}
{{ end }}
<article class="media">
    <figure class="media-left">
        <div class="image is-128x128 mt-0">
            <img src="{{ $articleImage }}">
        </div>
    </figure>
    <div class="media-content">
        <h2>{{.Params.title}}</h2>
        <h4>
            {{.Params.Date.Format "January 2, 2006" }} <span class="localtime">{{.Params.Date.Format "08:00:00-07"}}</span>
        </h4>
        <h5>
            {{ range $index,$item := $icons }}
            {{ if ne $index 0 }}
            <span class="icon">
                <i class="fas fa-grip-lines-vertical"></i>
            </span>
            {{ end }}
            <a href="{{$item.url}}">
                <span class="icon-text">
                    <span class="icon">
                        <i class="{{$item.iconClass}}"></i>
                    </span>
                    <span class="divider is-vertical"></span>
                    <span>
                        {{$item.text}}
                    </span>
                </span>
            </a>
            {{end}}
        </h5>
    </div>
</article>
