<section id="feature" style="background-image: url('{{ .Site.Params.feature.bgImage | absURL }}');">
    <div class="container">
	<div class="col-md-10 col-md-offset-1 ">
	    <div class="block">
		<h2 class="text-uppercase">{{ .Site.Params.feature.title }}</h2>
		<div class=content>
		    <p>{{ .Site.Params.feature.content | markdownify }}</p>
		</div>
		<br/>
		{{ with .Site.Params.feature.button }}
      		<a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
		{{ end }}
		{{ with .Site.Params.feature.button2 }}
		<a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
		{{ end }}
		{{ with .Site.Params.feature.button3 }}
		<a href="{{ .url }}" class="btn btn-main">{{ .caption }}</a>
		{{ end }}
	    </div>
	</div>
    </div>
</section>
