<section id="docs-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"><a href="/latest/news/">NEWS</a></div>
            <div class="col-md-3"><a href="/latest/webinars/">WEBINARS</a></div>
            <div class="col-md-3"><a href="/latest/archive/">ARCHIVE</a></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
	<h1 align="center">{{ .Params.subtitle }}</h1>
    </div>
</div>
<br>
