<!-- prjcomnews Start -->
<section id="intro">
    <div class="container">
	<div class="col-md-10 col-md-offset-1 ">
	    <div class="block">
		<h2 class="text-uppercase">{{ .Site.Params.prjcomnews.title }}</h2>
		<div class=content>
		    <p>{{ .Site.Params.prjcomnews.content | markdownify }}</p>
		    <br/>
		    <a class="btn btn-main btn-solid-border" href="{{ .Site.Params.prjcomnews.url1 | absURL }}" >
			{{ .Site.Params.prjcomnews.btnText1 }}</a>
		    <a class="btn btn-main btn-solid-border" href="{{ .Site.Params.prjcomnews.url2 | absURL }}" >
			{{ .Site.Params.prjcomnews.btnText2 }}</a>
		    <br></br>
		</div>
	    </div>
	</div>
    </div>
</section>
