<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
            <div class="section-title">
		<h2>{{ .Site.Params.wrapper.title }}</h2>
		<p>{{ .Site.Params.wrapper.subtitle | markdownify}}</p>
            </div>
            <p>{{ .Site.Params.wrapper.paragraph | markdownify }}</p>
            <p><a class="btn btn-main btn-solid-border" href="{{ .Site.Params.wrapper.wurl | absURL }}" >
		{{ .Site.Params.wrapper.wbtnText }}</a></p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
         <img src="{{ with .Site.Params.wrapper.image }} {{ . | absURL }} {{ end }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
