<!DOCTYPE html>
<html>
    <head>

	{{ partial "head.html" . }}

    </head>
    <body>
	{{ partial "header.html" . }}

	<!-- Slider Start -->
	<section class="section py-5" style="background-image: url('{{ .Site.Params.bgImage | absURL }}');">
    	<div class="container">
        	<div class="row">
                <div class="col-md-12">
                	<div class="text-center text-white">
                		<h1>FD.io</h1>
                		<h1>The World’s Secure Networking Data Plane</h1>
                	</div>
                </div>
                <div class="col-md-6 offset-md-3 pt-4 pb-4">
                	<div class="text-center text-white fs-4 fw-lighter">
                		  An Open Source Terabit Software Dataplane
				  The world moves at light speed.
				  Make sure your packet traffic keeps up.
				  Enriching Data Plane Leadership and Deployment Efficiency.
                	</div>
            	</div>
        	</div>
    	</div>
	</section>

	<section class="section py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4 class="pb-4">The Fast Data Project (FD.io) is an open-source project aimed at providing the world's fastest and most secure networking data plane through Vector Packet Processing (VPP).</h4>
				</div>
			</div>
			<div class="row">
				<div class="action-widget col-sm-2 offset-sm-1 col-4">
					<a class="text-decoration-none text-black" href="/technology">
						<div class="circle"><i class="fas fa-graduation-cap"></i></div>
						<i class="d-none d-lg-inline fas fa-arrow-right arrow"></i>
						<div class="widget-title">Learn about the technology</div>
					</a>
				</div>
				<div class="action-widget col-sm-2 col-4">
					<a class="text-decoration-none text-black" href="/usecases">
						<div class="circle"><i class="far fa-lightbulb"></i></div>
						<i class="d-none d-lg-inline fas fa-arrow-right arrow"></i>
						<div class="widget-title">Find Use Cases</div>
					</a>
				</div>
				<div class="action-widget col-sm-2 col-4">
					<a class="text-decoration-none text-black" href="/docs/vpp/master/gettingstarted/installing">
						<div class="circle"><i class="fas fa-download"></i></div>
						<i class="d-none d-lg-inline fas fa-arrow-right arrow"></i>
						<div class="widget-title">Install VPP</div>
					</a>
				</div>
				<div class="action-widget col-sm-2 col-4">
					<a class="text-decoration-none text-black" href="/docs/vpp/master">
						<div class="circle"><i class="fas fa-book"></i></div>
						<i class="d-none d-lg-inline fas fa-arrow-right arrow"></i>
						<div class="widget-title">View the Documentation</div>
					</a>
				</div>
				<div class="action-widget col-sm-2 col-4">
					<a class="text-decoration-none text-black" href="/community">
						<div class="circle"><i class="fas fa-users"></i></div>
						<div class="widget-title">Contribute</div>
					</a>
				</div>
			</div>
    	</div>
	</section>

	<section class="section py-5 text-white" style="background-image: url('{{ .Site.Params.bgImage | absURL }}');">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="pb-4">FD.io Users</h2>
				</div>
			</div>

			<div class="row">
				{{ partial "usecases.html" (dict
					"href" ""
					"img" "/img/logos/cisco.png"
					"title" "Cisco Systems"
					"content" "Cisco Secure Access, Umbrella, Webex & more"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.alibabacloud.com/blog/network-service-optimization-with-the-vpp-platform_593985"
					"img" "/img/logos/alibaba.png"
					"title" "Alibaba Cloud"
					"content" "uCPE<br>Network Virtual Functions<br>Load Balancer"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "http://www.netgate.com/tnsr-software/performance"
					"img" "/img/logos/netgate.png"
					"title" "Netgate"
					"content" "TNSR : High-performance Secure Networking Software"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" ""
					"img" "/img/logos/inocybe.png"
					"title" "Inocybe"
					"content" "An Open Networking Platform"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" ""
					"img" "/img/logos/openstack02.png"
					"title" "Openstack"
					"content" "Cisco VIM (CVIM) using VPP"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://pantheon.tech/products/stonework/"
					"img" "/img/logos/pantheontech.png"
					"title" "PANTHEON.tech"
					"content" "StoneWork Enterprise - performant & modular networking solution"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://static.sched.com/hosted_files/onsna19/73/ONS.NA.2019.VPP_LB_public.pdf"
					"img" "/img/logos/yahoo.png"
					"title" "Yahoo"
					"content" "The JP Cloud Balancer"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://sdnfv.zte.com.cn/en/insights/2019/8/Acceleration-Road-of-5G-User-Plane"
					"img" "/img/logos/zte.png"
					"title" "ZTE"
					"content" "IoT Gateway<br>MEC Platform<br>PaaS Platform"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://docs.tigera.io/calico/latest/getting-started/kubernetes/vpp/"
					"img" "/img/logos/calico.png"
					"title" "Calico/VPP dataplane"
					"content" "An integration allowing the Calico Kubernetes CNI to leverage VPP as its dataplane"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.netadvia.com/vpp-financial-trading/"
					"img" "/img/logos/netadvia.png"
					"title" "Netadvia"
					"content" "Latency-Optimised High-Frequency Financial Trading with VPP"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.thefastmode.com/technology-solutions/28658-graphiant-join-hands-with-rohde-schwarz-to-deploy-ipoque-s-new-vpp-dpi-software"
					"img" "/img/logos/graphiant.png"
					"title" "Graphiant"
					"content" "Vector packet processing (VPP)-based deep packet inspection (DPI) software"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.mavenir.com/portfolio/mavcore/converged-packet-core/"
					"img" "/img/logos/mavenir.png"
					"title" "Mavenir"
					"content" "Converged packet core"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://github.com/travelping/upg-vpp"
					"img" "/img/logos/travelping.png"
					"title" "TravelPing"
					"content" "User Plane Gateway (UPG) based on VPP"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.affirmednetworks.com/pdfs/enabling-communications-service-providers-to-meet-5g.pdf/"
					"img" "/img/logos/affirmed_networks.png"
					"title" "Affirmed Networks"
					"content" "5GCN cloud-native network function"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://github.com/sonic-net/sonic-platform-vpp"
					"img" "/img/logos/sonic.jpg"
					"title" "Software for Open Networking in the Cloud (SONiC)"
					"content" "SONiC-VPP is a platform under SONIC that supports VPP data plane"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://terragraph.com/docs/developer/VPP_Implementation"
					"img" "/img/logos/terragraph.png"
					"title" "Terragraph"
					"content" "Terragraph's datapath implementation using VPP"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://docs.equinix.com/en-us/Content/Interconnection/NE/deploy-guide/NE-platform-architecture.htm"
					"img" "/img/logos/equinix.png"
					"title" "Equinix"
					"content" "Network Edge"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://networkbuilders.intel.com/solutionslibrary/samsung-achieves-305-gbps-on-5g-upf-core-utilizing-intel-architecture"
					"img" "/img/logos/samsung.png"
					"title" "Samsung"
					"content" "Samsung 5G UPF stack built on top of VPP"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://exium.net/5g/"
					"img" "/img/logos/exium.png"
					"title" "Exium"
					"content" "xEdge Data Plane achieves up to 10x packet processing through VPP, DPDK, and SR-IOV technologies"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.bignetwork.com/products/edgepro/"
					"img" "/img/logos/bignetwork.png"
					"title" "Big Network"
					"content" "Big Network's Edge Pro uses VPP for high speed packet processing"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.rtbrick.com/products-and-technology/bng"
					"img" "/img/logos/rtbrick.png"
					"title" "RTBrick"
					"content" "RTBrick fullstack supports VPP as a feature"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.marvell.com/content/dam/marvell/en/company/media-kit/octeon-10/marvell-octeon-10-media-deck.pdf"
					"img" "/img/logos/marvell.jpg"
					"title" "Marvell Octeon 10"
					"content" "Marvell Octeon 10 DPU uses VPP hardware acceleration to gain up to 5x system level performance"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://ipng.ch/s/articles/"
					"img" "/img/logos/IPng-network.png"
					"title" "IPng Networks"
					"content" "IPng Networks is a contributer to the Linux CP plugin and source of in-depth technical articles on the VPP ecosystem"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://docs.flexiwan.com/troubleshoot/advanced.html"
					"img" "/img/logos/flexiWAN.png"
					"title" "Flexiwan"
					"content" "flexiWAN uses VPP network stack"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://blog.vyos.io/vyos-and-vpp-progress-and-plans"
					"img" "/img/logos/vyos.png"
					"title" "VyOS"
					"content" "VyOS and VPP - progress and plans"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.wgtwo.com/blog/how-working-group-two-accelerates-the-creation-of-mobile-networks-with-aws-snow-family/#user-plane-function-on-aws-snowcone"
					"img" "/img/logos/wgtwo.png"
					"title" "wgtwo"
					"content" "Working Group Two uses Vector Packet Processing (VPP) to implement this User Plane Function"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://openairinterface.org/oai-5g-core-network-project/"
					"img" "/img/logos/oai.png"
					"title" "OpenAirInterface"
					"content" "OpenAir CN 5G for UPF using a VPP implementation"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.ipoque.com/media/brochures/RS_solution_brief_DPI_vPACE-SDX-ipoque-website.pdf"
					"img" "/img/logos/ipoque.png"
					"title" "ipoque GmbH (R&S)"
					"content" "R&S vPACE: A VPP DPI Engine Essential to Future 5G Networks"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://github.com/SURFnet/Ansible-VPP"
					"img" "/img/logos/surf.png"
					"title" "SURF"
					"content" "At SURF, we rely on VPP as the software switch for our virtual infrastructure, and use Ansible (and AWX) to provision and configure"
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.sandya.net.id/about-us/our-topology/"
					"img" "/img/logos/sandya.png"
					"title" "Sandya Networks"
					"content" "Sandya Networks provides highly available Internet Connectivity with full mesh redudancy utilizing VPP for Routing Engine."
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.lannerinc.com/?view=category&id=49"
					"img" "/img/logos/lanner.png"
					"title" "Lanner Electronics"
					"content" "Lanner partners with Flexiwan and Telco Systems utilizing VPP for routing and data path."
					)
				}}
				{{ partial "usecases.html" (dict
					"href" "https://www.telco.com/edge-compute/edgility-os/"
					"img" "/img/logos/telcosystems.png"
					"title" "Telco Systems"
					"content" "Telco Systems Edgility OS utilizes VPP for data path."
					)
				}}
			</div>
		</div>
	</section>

	<section class="section py-5">
    	<div class="container">
    		<div class="row">
				<div class="col-md-6">
					<h2 class="pb-4">Latest FD.io News</h2>
					{{ with .Site.GetPage "/news/press" }}<a href="{{ .Permalink }}" class="btn btn-main">View All FD.io News</a>{{ end }}
					<div class="horizontal-space"></div>
				</div>
				<div class="clearfix hidden-sm"></div>
				{{ with .Site.GetPage "/news/press" }}
	    		{{ range .Pages.ByDate.Reverse | first 3 }}
				<div class="col-md-4">
				<a class="text-decoration-none text-black" href="{{ .Permalink }}">
					<h4>{{ .Title }}</h4>
					<p>{{ humanize .Date.Day }} of {{ .Date.Format "January 2006" }}</p>
					<p>{{ .Content | truncate 200 | plainify | htmlUnescape }}</p>
    			</a>
    			</div>
    			{{ end }}
    			{{ end }}
    		</div>
	</section>

	<section class="section py-5">
		<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<h2 class="pb-4">Community</h2>
    			</div>
				<div class="col-md-3">
					<div class="card">
						<a class="text-decoration-none text-black" href="https://www.youtube.com/channel/UCIJ2OP6_i1npoHM39kxvwyg/videos">
						<div class="card-body text-center">
							<i class="fab fa-youtube" style="font-size: 3rem; color: #f20000"></i>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<a class="text-decoration-none text-black" href="https://twitter.com/FDioProject">
						<div class="card-body text-center">
							<i class="fab fa-twitter" style="font-size: 3rem; color: rgb(29, 161, 242)"></i>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<a class="text-decoration-none text-black" href="https://gerrit.fd.io/">
						<div class="card-body text-center">
							<i class="fas fa-code-branch" style="font-size: 3rem; color: #a1f2a1"></i>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<a class="text-decoration-none text-black" href="/community">
						<div class="card-body text-center">
							<i class="fas fa-plus" style="font-size: 3rem; color: #aaa"></i>
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
