<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "global-header.html" . }}

	<section class="blog section eventsection">
	    <div class="container">
		<div class="row">
		    <h2>Upcoming Events</h2>
		    {{ range (.Paginator 6).Pages.ByDate }}
		    {{ if ge .Date.Unix now.Unix}}
		    <div class="col-md-6">
			<article class="blog-post">
			    {{ if isset .Params "image" }}
			    <a class="post-title" href="{{ .Params.eventlink }}">
				<img src="{{ .Params.image | absURL }}"
				     class="img-responsive" alt="post-thumb">
			    </a> {{ end }}
			    <a class="post-title" href="{{ .Params.eventlink }}">{{ .Title }}</a>
			    <p> {{ partial "summary" .}} </p>
			    <a href="{{ .Params.eventreglink }}" class="btn btn-main">{{ .Params.eventregtxt }}</a>
			    <a href="{{ .Params.eventschedlink }}" class="btn btn-main">{{ .Params.eventschedtxt }}</a>
			</article>
		    </div> {{ end }} {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>

	</section>
	<section class="blog section eventsection">
	    <div class="container">
		<div class="row">
		    <hr />
		    <h2>Past Events</h2>
		    {{ range (.Paginator 6).Pages.ByDate.Reverse }}
		    {{ if lt .Date.Unix now.Unix}}
		    <div class="col-md-6">
			<article class="blog-post">
			    {{ if isset .Params "image" }}
			    <a class="post-title" href="{{ .Params.eventlink }}">
				<img src="{{ .Params.image | absURL }}"
				     class="img-responsive" alt="post-thumb">
			    </a> {{ end }}
			    <a class="post-title" href="{{ .Params.eventlink }}">{{ .Title }}</a>
			    <p> {{ partial "summary" .}} </p>
			</article>
		    </div> {{ end }} {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
