<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "news-header.html" . }}

	<section class="blog section eventsection">
	    <div class="container">
		<div class="row">
		    {{ range (.Paginator 1).Pages }}
		    <div class="col-md-8">
			<article class="blog-post">
			    <h1>{{ .Params.title }}</h1>
			    <h2>{{ .Params.subtitle }}</h2>
			    <h3>By {{ .Params.author }} | {{ .Date.Format "Jan 2 2006" }}</h3>
			    <h4>{{ .Params.location }}</h4>
			    <p>{{ .Content | markdownify }}</p>
			</article>
		    </div>
		    {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>

	{{ partial "footer.html" . }}

</body>
</html>
