<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	
	{{ partial "header.html" . }}
	{{ partial "vppproject-header.html" . }}
	
	<section class="blog section">
	    <div class="container">
		<div class="row">
		    {{ range (.Paginator 6).Pages }}
			{{ if eq .Type "videos"}}
			{{ partial "videothumbnail" . }}
		    {{ end }}
		    {{ end }}
		</div>
		<div class="col-12 text-center">
		    {{ template "_internal/pagination.html" . }}
		</div>
	    </div>
	</section>
	
	{{ partial "footer.html" . }}

</body>
</html>
