<!DOCTYPE html>
<html>
    <head>
	{{ partial "head.html" . }}
    </head>
    <body>
	{{ partial "header.html" . }}
	{{ partial "latest-header.html" . }}
	{{ $webinars := union (where site.RegularPages "Section" "webinars") (where site.RegularPages ".Parent" "/latest/webinars/_index.md") }}
	<div class="container">
		{{ range where site.RegularPages ".Dir" "latest/webinars/" }}
		<div class="col-md-12">
			<article class="blog-post">
				{{partial "webinar-header.html" . }}
				<p>
					{{ .Summary }}
				</p>
				<h3>
					<a href="{{ .RelPermalink }}">Learn More...</a>
				</h3>
			</article>
		</div>
		<hr />
		{{ end }}
	</div>
	
	{{ partial "footer.html" . }}

</body>
</html>
